MONGO_URI = mongodb+srv://christianmontgomery2025:Mr.P1ckle@cluster0.goia6oq.mongodb.net/
PORT = 3000
EMAIL_PWORD = Mr.P1ckle
FB_CLIENT_ID = 1046713816156233
FB_CLIENT_SECRET = 899b9fafb6e4f987aafb3f41a7d3bf91
GOOGLE_CLIENT_ID = 88635694018-42g9p4b1dsjn6htqc7dhcd13rqllkdke.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
ROOT_URL = http://localhost:3000/ http://localhost:3000/
SESSION_SECRET = J6t.[DQb6rV7u'cS
TWITTER_CONSUMER_KEY = qVCqSnl7xr3myFzYL5AiFdBpV
TWITTER_CONSUMER_SECRET = K1KtCsySHtTdG9EKodvNo4cDxQrUuN0tGOEHsu43DhRxk8ND01
TWITTER_CONSUMER_TOKEN = AAAAAAAAAAAAAAAAAAAAAMFoRAEAAAAAwPYP3P%2By%2BYDpbc7zTZkJre2rXNg%3D6QdaMfxqiQI14svCUylAR1iN4apBPo71wzsmA8bTpiXGPCstPd