<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tiny.cloud/1/nzso1icc2b8m1a98zxfj68ichs0iajd43majwliukn3wsa1p/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  </head>
  <body>
    <%- include('../partials/_header') %>
    <%- include(`../${body}`) %>
  </body>
</html>